<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Alumno </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Apellidos:</ion-label>
    <ion-input [(ngModel)]="alumno.apellidos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input [(ngModel)]="alumno.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Sexo</ion-label>
    <ion-radio-group [(ngModel)]="alumno.sexo">
      <ion-item>
        <ion-label>Hombre</ion-label>
        <ion-radio value="hombre"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mujer</ion-label>
        <ion-radio value="mujer"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <ion-item>
    <ion-label>Edad:</ion-label>
    <ion-input [(ngModel)]="alumno.edad"></ion-input>
  </ion-item>

  <ion-item-group *ngIf="alumno.edad>=18">
    <ion-item>
      <ion-label>DNI Alumno:</ion-label>
      <ion-input [(ngModel)]="alumno.dni"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Trabaja:</ion-label>
      <ion-checkbox [(ngModel)]="alumno.trabaja"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>EstadoCivil</ion-label>
      <ion-radio-group [(ngModel)]="alumno.estadoCivil">
        <ion-item>
          <ion-label>Soltero</ion-label>
          <ion-radio slot="end" value="soltero"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Casado</ion-label>
          <ion-radio slot="end" value="casado"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Divorciado</ion-label>
          <ion-radio slot="end" value="divorciado"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Viudo</ion-label>
          <ion-radio slot="end" value="viudo"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="alumno.edad<18">
    <ion-item>
      <ion-label>DNI Padre:</ion-label>
      <ion-input [(ngModel)]="alumno.dniPadre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>DNI Madre:</ion-label>
      <ion-input [(ngModel)]="alumno.dniMadre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos Padre:</ion-label>
      <ion-input [(ngModel)]="alumno.apellidosPadre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos Madre:</ion-label>
      <ion-input [(ngModel)]="alumno.apellidosMadre"></ion-input>
    </ion-item>
  </ion-item-group>

  <ion-item>
    <ion-button (click)="datosAlumno(alumno)">Pasar a página2</ion-button>
  </ion-item>
</ion-content>
