<ion-header>
  <ion-toolbar>
    <ion-title>productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()"
        ><ion-icon slot="icon-only" name="close-circle-outline"
      /></ion-button>
      <!--end botón cancelar-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" color="primary">Producto</ion-label>
    <ion-select
      cancelText="Cancelar"
      okText="OK"
      placeholder="Seleccione un producto"
      [(ngModel)]="idProductoSeleccionado"
      (ionChange)="cambiaProducto()"
    >
      <ion-select-option
        *ngFor="let producto of productos | keyvalue"
        [value]="producto.key"
      >
        {{producto.value.descripcion}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <!--end_ion-select-->
  <ion-item *ngIf="idProductoSeleccionado">
    <ion-label color="primary">Importe unitario</ion-label>
    <ion-item [(ngModel)]="productoSeleccionado.importeUnitario"
      >{{productoSeleccionado.importeUnitario}}€</ion-item
    >
  </ion-item>
  <!--end importeUnitario-->
  <ion-item>
    <ion-label color="primary">Unidades</ion-label>
    <ion-input
      type="number"
      placeholder="unidades"
      [(ngModel)]="unidades"
    ></ion-input>
  </ion-item>
  <!--end unidades-->
  <ion-item>
    <ion-button
      color="primary"
      class="submit-btn"
      expand="block"
      type="button"
      (click)="aceptar()"
      >Submit data</ion-button
    >
    <!--end submit button-->
  </ion-item>
</ion-content>
