<ion-header>
  <ion-toolbar>
    <ion-title>productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="validations_form"
    (ngSubmit)="onSubmit(validations_form.value)"
  >
    <ion-item>
      <ion-label position="floating" color="primary">Producto</ion-label>
      <ion-select
        cancelText="Cancelar"
        okText="OK"
        placeholder="Seleccione un producto"
        formControlName="producto"
        [(ngModel)]="productoEnviar"
      >
        <ion-select-option
          *ngFor="let producto of productos"
          [value]="producto"
        >
          {{producto.descripcion}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <!--end_ion-select-->
    <ion-item>
      <ion-label color="primary">Unidades</ion-label>
      <ion-input
        type="number"
        formControlName="unidades"
        [(ngModel)]="productoEnviar.unidades"
      ></ion-input>
    </ion-item>
    <!--end unidades-->
    <ion-item>
      <ion-label color="primary">Importe unitario</ion-label>
      <ion-item
        formControlName="importeUnitario"
        [(ngModel)]="productoEnviar.importeUnitario"
        >{{productoEnviar.importeUnitario}}€</ion-item
      >
    </ion-item>
    <!--end importeUnitario-->
    <ion-item>
      <ion-label color="primary">Importe total</ion-label>
      <ion-item
        formControlName="importeTotal"
        [(ngModel)]="productoEnviar.importeTotal"
        >{{productoEnviar.importeUnitario * productoEnviar.unidades}}€</ion-item
      >
    </ion-item>
    <!--end importeTotal-->
    <ion-item>
      <ion-button
        color="primary"
        class="submit-btn"
        expand="block"
        type="submit"
        [disabled]="!validations_form.valid"
        >Submit data</ion-button
      >
      <!--end submit button-->
      <ion-button (click)="closeModal()">Cancelar</ion-button>
      <!--end botón aceptar-->
    </ion-item>
  </form>
  <!--end form-->
</ion-content>
