<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Grupos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grupos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div *ngFor="let grupo of grupos">
      <ion-list>
        <h1>{{grupo.grupo}}</h1>
        <hr />
        <ion-item *ngFor="let alumno of grupo.alumnos">
          <ion-label>{{alumno.first_name + " " + alumno.last_name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-content>
