<ion-header>
  <ion-toolbar>
    <ion-title>nueva-factura</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="aceptar()"
        ><ion-icon slot="icon-only" name="add"
      /></ion-button>
      <!--end botón aceptar-->
      <ion-button (click)="cancelar()"
        ><ion-icon slot="icon-only" name="close-circle-outline"
      /></ion-button>
      <!--end botón cancelar-->
      <ion-button (click)="nuevoProducto()"
        ><ion-icon slot="icon-only" name="person-add-outline"
      /></ion-button>
      <!--end_botón nuevoProducto-->
    </ion-buttons>
    <!--end_buttons-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select
    cancelText="Cancelar"
    okText="OK"
    placeholder="Seleccione un cliente"
    [(ngModel)]="factura.cliente"
  >
    <ion-select-option *ngFor="let cliente of clientes" [value]="cliente">
      {{cliente.cliente}}
    </ion-select-option>
  </ion-select>
  <!--end_ion-select-->
  <ion-list>
    <ion-item *ngFor="let producto of factura.productos">
      {{producto.descripcion}} {{producto.importeUnitario}}
      {{producto.unidades}} {{producto.importeUnitario * producto.unidades}}
    </ion-item>
  </ion-list>
  <!--end_productos factura-->
  <div>
    <ion-item>Importe total sin IVA: {{factura.getTotalSinIva()}}</ion-item>
    <ion-item>IVA: {{factura.porcentajeIva}}</ion-item>
    <ion-item>Importe total con IVA: {{factura.getTotalConIva()}}</ion-item>
  </div>
</ion-content>
