<ion-header>
 <ion-toolbar>
   <ion-title>Pagina2</ion-title>
   <ion-buttons slot="end">
     <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/pagina3" icon="arrow-forward-outline"></ion-back-button>
     </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Soy la página 2</p>
    <ion-button routerLink="/home" routerDirection="back">Volver a home</ion-button>
    <ion-button routerLink="/pagina3" routerDirection="forward">Ir a la página 3</ion-button>
    <ion-button routerLink="/pagina4" routerDirection="forward">Ir a la página 4</ion-button>
    <ion-button routerLink="/pagina5" routerDirection="forward">Ir a la página 5</ion-button>
  </div>
</ion-content>
