<ion-header>
  <ion-toolbar>
    <ion-title>Pagina5</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/pagina4"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Soy la página 5</p>
    <ion-button routerLink="/home" routerDirection="back">Ir a home</ion-button>
    <ion-button routerLink="/pagina2" routerDirection="back">Ir a la página 2</ion-button>
    <ion-button routerLink="/pagina3" routerDirection="back">Ir a la página 3</ion-button>
    <ion-button routerLink="/pagina4" routerDirection="back">Volver a la página 4</ion-button>
  </div>

</ion-content>
